@charset "UTF-8";
/*-- fonts --------------------------------------*/
@font-face {
    font-family: "ortica";
    src: url(../fonts/Ortica-Light.otf)
}
@font-face {
    font-family: "publicsans";
    src: url(../fonts/PublicSans-Light.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "publicsans";
    src: url(../fonts/PublicSans-Lightitalic.otf);
    font-weight: normal;
    font-style: italic;
}
/*-- fonts END --------------------------------------*/
/*-- General --------------------------------------*/
body {
    animation: load 1.5s;
    scroll-behavior: smooth;
    background: #2D2D2D;
    margin: 0;
}
@keyframes load {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}
a {
    text-decoration: none;
    color: #fff;
}

.ortspan {
    font-family: ortica, serif;
}
h1 {
    font-size: 1.736vw;
    font-weight: 400;
    font-family: publicsans, sans-serif;
}
h2 {
    font-size: 0.972vw;
    font-weight: 400;
    font-family: publicsans, sans-serif;
    line-height: 1.18vw;
    margin: 0;
}
p{
    font-size: 0.972vw;
    font-family: ortica, serif;
    line-height: 1.18vw;
    margin: 0;
}
/*-- navigation --------------------------------------*/
nav {
    margin-top: 0.8vh;
    position: fixed;
    mix-blend-mode: exclusion;
    border-bottom: 0.5px solid #fff;
    padding-bottom: 10px;
    width: 100%;
}
nav h2, nav p {
    font-size: 14px;
    line-height: 18px;
    z-index: 9999;
    color: #fff;
}
/*-- navigation END --------------------------------------*/
/*-------------------------------------- index --------------------------------------*/
.index1 {
    font-size: 1.736vw;
    color: white;
    text-align: center;
    mix-blend-mode: exclusion;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 0.5px solid #fff;
}
.info {
    text-align: right;
}
/*-- index END --------------------------------------*/


.blank{
    margin: 1vh 1vw 15vh 1vw;
    overflow: visible;
}

/*-- Projects --------------------------------------*/
.project1, .project2, .project3, .project4 {
    padding: 15vh 0;
}
.pr1_img, .pr2_img, .pr3_img, .pr4_img {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 35vw;
}
.id_txt1, .id_txt2{
    color: #fff;
}
.id_txt2{
    display: none;
}
.pr1_img {
    background-image: url(../images/SABF/SABF_head.jpg);
}
.pr2_img {
    background-image: url(../images/DSH/DSH_head.jpg);
}
.pr3_img {
    background-image: url(../images/ASHLAR/ASHLAR_head.jpg);
}
.pr4_img {
    background-image: url(../images/MASK/MASK_head.jpg);
}
.project4 {
    margin-bottom: 8.5vh;
}

/*-------------------------------------- CASE STUDIES --------------------------------------*/
#ctr_txt {
    text-align: center;
    margin: 0 0 2.2vw 0;
}
.blb_line{
    border-right: 1px solid #000;
    height: 100%;
}
.blb div h2, .blb div h1 {
    text-align: center;
}
.blb {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: auto;
    margin: 3vw 0;
    padding: 1.7vh 0;
}
.blb div h1 {
    margin: 0 0 2.7vw 0 ;
}
#blb_h2 {
    margin: 2.7vw 0 0.4vw 0 ;
}
.blb p {
    margin: 0;
}
.blb div h2 {
    margin: 0 0 0.4vw 0;
}


/*-- SEOUL ART BOOK FAIR --------------------------------------*/
.SABF_head {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 8vh;
}
.sabf1 {
    background-image: url(../images/SABF/SABF_head.jpg);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 35vw;
}
.sabf_img1, .sabf_img2 {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 42vw;
    margin-bottom: 3vw;
}
.sabf_img1 {
    background-image: url(../images/SABF/SABFad_eng.gif);
}
.sabf_img2 {
    background-image: url(../images/SABF/SABFad_kr.gif);
}

/* ---------------------- MEDIA QUERIES AHHHHH ---------------------- */


/* ---------------------- Phone ---------------------- */
@media screen and (min-width: 320px) and (max-width:500px){
    /* -- main things -- */
    h1 {font-size: 4.34vw;}
    h2 {font-size: 2.43vw}
    p {font-size: 2.43vw;}
    nav div ul {display: none;}
    /* -- index -- */
    .index1 h1{font-size: 3.2vw;}
    .pr1_img, .pr2_img, .pr3_img, .pr4_img {height: 45vw;}
    .project1, .project2, .project3, .project4 {padding: 1vh 0;}
    .id_txt2{display: block; text-align: center; padding-top: 10px;}
    .id_txt2 p{padding-top: 7px;}
    .id_txt1{display: none;}
    .project4 {
    margin-bottom: 15vh;}
    /* -- SABF -- */
    .SABFintro {
        margin-top: 4vw;}
    }

/* ---------------------- Tablet ---------------------- */
@media screen and (min-width: 501px) and (max-width:1366px){
    /* -- main things -- */
    h1 {font-size: 1.736vw;}
    p {font-size: 0.972vw;}
    /* -- index -- */
    .index1 h1{font-size: 3vw;}
    .pr1_img, .pr2_img, .pr3_img, .pr4_img {height: 35vw;}
    .project4 {
    margin-bottom: 15vh;}
    /* -- SABF -- */
    .SABFintro {
    margin-top: 8vh;}
}
