@charset "UTF-8";
/*-- fonts --------------------------------------*/
@font-face {
    font-family: "ortica";
    src: url(../fonts/ortica-light-webfont.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "publicsans";
    src: url(../fonts/publicsans-light-webfont.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "publicsans";
    src: url(../fonts/publicsans-light-webfont.woff);
    font-weight: normal;
    font-style: italic;
}
/*-- fonts END --------------------------------------*/
/*-- General --------------------------------------*/
body {
    animation: load 2s;
    scroll-behavior: smooth;
    background: #2D2D2D;
    margin: 0;
    font-family: ortica, serif;
    color: #fff;
    overflow-x: hidden;
}
@keyframes load {
    0% {opacity: 0}
    100% {opacity: 1}
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover,a h2:hover,a h4:hover, a h5:hover{
    color: rgba(255,255,255,0.5);
    transition: 0.3s;
}
#nav1 a:hover {
    opacity: 0.5;
    transition: 0.3s;
}
.ortspan {
    font-family: ortica, serif;
}
h1 {
    font-family: publicsans, sans-serif;
    font-weight: normal;
}
h2 {
    font-size: 1.250vw;
    font-weight: normal;
    font-family: publicsans, sans-serif;
    margin: 0
    
}
h3 {
    font-family: publicsans, sans-serif;
    font-weight: normal;
}
h4 {
    font-size: 1.250vw;
    font-family: ortica, serif;
    margin: 0 0 0.4vw 0;
    line-height: 1.8vw;
    font-weight: normal;
}
h5 {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    font-family: publicsans, sans-serif;
    font-weight: normal;
}


p{
    font-family: ortica, serif;
    font-weight: normal;
}
h3, p {
    font-size: 0.972vw;
    font-weight: 400;
    line-height: 1.35vw;
    margin: 0 0 0.5vw 0;
}

.vimeo {
    z-index: 0;
}

/*-- navigation --------------------------------------*/
nav {
    padding-top: 10px;
    position: fixed;
    mix-blend-mode: exclusion;
    border-bottom: 0.5px solid #fff;
    padding-bottom: 10px;
    width: 100%;
    top: 0;
    z-index: 9999;
}
nav h3, nav p {
    font-size: 0.972vw;
    line-height: 1.250vw;
    z-index: 9999;
    color: #fff;
    padding: 0;
    margin: 0;
}
nav p {
    margin-top: 0.1vw;
}
.info {
    text-align: right;
}
/*-- navigation END --------------------------------------*/

/*-- FOOTER --------------------------------------*/

footer {
    margin-top: 10vw;
}
.prefoot {
    position: relative;
    top: 6.25vw;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 0;
}
.prefoot_left{
    text-align: right;
}
.prefoot_center {
    text-align: center;
}

.footvenn {
    z-index: -99;
}
.leftftvn, .rightftvn, .centerftvn {
    height: 10vw;
    width: 40vw;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    overflow: hidden;
    margin-bottom: 3vw;
}
.leftftvn {
    left: 1vw;
    
}
.rightftvn {
    right: 1vw;
}
.centerftvn{
    left: 30vw;
    width: 40vw;
}
.index2 {
    position: relative;
    top: 12vw;
    font-size: 0.8vw;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    border-top: 0.5px solid #fff;
}
.ftemail {
    position: relative;
    top: 12vw;
}
.ftemail h2 {
    border-top: 0.5px #fff solid;
    padding-bottom: 0.5vw;
    padding-top: 0.2vw;
    text-align: center;
}

.simplefooter {
    margin-top: 5vw;
}
.simplefooter .index2, .simplefooter .ftemail {
top: 0}
/*-- FOOTER END --------------------------------------*/

/*-------------------------------------- index --------------------------------------*/
.index1 {
    font-size: 0.8vw;
    color: white;
    text-align: center;
    mix-blend-mode: exclusion;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 0.5px solid #fff;
}
/*-- index END --------------------------------------*/


.blank, .blankleft, .blankright, .blankfoot{
    margin: 1vh 1vw 15vh 1vw;
    overflow: visible;
}


/*-- Projects --------------------------------------*/
.project1, .project2, .project3, .project4 {
    padding: 5vh 0 20vh 0;
}
.pr1_img, .pr2_img, .pr3_img, .pr4_img {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top center;
    height: 34vw;
}
.id_txt1, .id_txt2{
    color: #fff;
}
.id_txt1 p {
    margin-top: 0.5vw;
}
.id_txt1 h3 {
    margin-top: 0.3vw;
}

.id_txt2{
    display: none;
}
.pr1_img {
    background-image: url(../images/SABF/SABF_head.jpg);
}
.pr2_img {
    background-image: url(../images/DSH/DSH_head.jpg);
}
.pr3_img {
    background-image: url(../images/ASHLAR/ASHLAR_head.jpg);
}
.pr4_img {
    background-image: url(../images/MASK/MASK_head.jpg);
}

/*-- info --------------------------------------*/

.infovenn {
    margin-top: 1vw;
    height: auto;
}
.infovenn1,.infovenn2 {
    text-align: center;
    padding: 24vw 0;
    width: 50vw;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    overflow: hidden;
}
.infovenn1 {
    left: 1vw;
}
.infovenn2 {
    right: 1vw;
}
.infovenn1 p {
    margin-bottom: 0;
}
.infovenn2 h3{
    margin-bottom: 0;
}
.itext1:before {
    content: "based in Toronto, Canada";
    animation: itxt1 10s infinite;
}
@keyframes itxt1 {
    0% {content: "based in Toronto, Canada"; color: #fff;}
    12.5% {content: "based in Toronto, Canada"; color: #fff;}
    16.65% {color: #2d2d2d;}
    20.8% {content: "focused in Branding"; color: #fff;}
    45.8% {content: "focused in Branding"; color: #fff;}
    49.95% {color: #2d2d2d;}
    54.1% {content: "that appreciates the classics"; color: #fff;}
    79.1% {content: "that appreciates the classics"; color: #fff;}
    83.25% {color: #2d2d2d;}
    87.4% {content: "based in Toronto, Canada"; color: #fff;}
    100% {color: "based in Toronto, Canada"; color: #fff;}
}

.itext2:before {
    content: "from Seoul, South Korea";
    animation: itxt2 10s infinite;
}
@keyframes itxt2 {
    0% {content: "from Seoul, South Korea"; color: #fff;}
    12.5% {content: "from Seoul, South Korea"; color: #fff;}
    16.65% {color: #2d2d2d;}
    20.8% {content: "adept in Digital Design"; color: #fff;}
    45.8% {content: "adept in Digital Design"; color: #fff;}
    49.95% {color: #2d2d2d;}
    54.1% {content: "that strives for innovation and improvisation"; color: #fff;}
    79.1% {content: "that strives for innovation and improvisation"; color: #fff;}
    83.25% {color: #2d2d2d;}
    87.4% {content: "from Seoul, South Korea"; color: #fff;}
    100% {color: "from Seoul, South Korea"; color: #fff;}
}

.infoassets {
    padding-top: 55vw;
}
.infoassets p, .infoassets h3 {
    margin-bottom: 0;
}
#ibrac, #ip {
    float: left;
}
#ibrac {
    font-size: 2.3vw;
}
#ip {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 0;
}
.infoassets div {
    margin-bottom: 1vw;
}
#info2 {
    margin-top: 5vw;
}
/*--
.funfact {
    margin-top: 8vw;
}
.funfact h4 {
    margin-bottom: 4vw;
} --*/

/*-- info END--------------------------------------*/
/*-- PLAAAAAAAAAY --------------------------------------*/
.plstf {
    margin-top: 8vw;
}




/*-------------------------------------- CASE STUDIES --------------------------------------*/
#ctr_txt {
    margin: 0 0 2.2vw 0;
}
.blb {
    height: auto;
    margin: 3vw 0 3vw 0;
    padding: 1vw 0;
    border-top: solid #fff 1px;
    border-bottom: solid #fff 1px;
}
.blb div h2 {
    margin: 0 0 1vw 0 ;
}
#blb_h3 {
    margin: 0.35vw 0 0.4vw 0 ;
}
.id_txt1 h3 {
    margin: 0.4vw 0 0 0;
}
.assets {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 2000px
}
.assets div {
    margin-bottom: 4vw;
}
.spacer {
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: solid 1px #fff;
}
.introtxt {
    margin: 2.50vw 0 1.75vw 0;
}
#a_txt {
    margin-bottom: 1vw;
}
.assets h2{
    margin-bottom: 0.5vw;
}

/*-- SEOUL ART BOOK FAIR --------------------------------------*/
.SABF_head,.DSH_head,.ASHLAR_head {
    margin-top: 8vw;
    max-width: 2000px;
}
.brochure {
    background-color: black;
}
/*-- ASHLAR --------------------------------------*/
.ashlarlink,.dshlink {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 15vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 6vw;
}
/*-- DIGITAL SELF HARM --------------------------------------*/
.mobi {
   display: none; 
}
#dshimg {
    margin-top: 0vw;
}
#dshimg h3 {
    margin-top: 1vw;
}
#dshflow {
    margin-bottom: 4vw;
}
#dshflowsm {
    display: none;
}
#dshp{
    padding-left: 2.5vw;
}

/*-- MASK --------------------------------------*/
#maskh2, #maskh2last {
    text-align: center;
    margin-top: 0.5vw;
}
#maskh2last {
    margin-bottom: 0;
}
#maskh2 {
    margin-bottom: 8vw;
}
#maskimg {
    margin-bottom: 0.5vw;
}
.maskintrosm {
    display: none;
}
#maskintro h2 {
    margin-top: 0.18vw;
}
#maskintro h4 {
    padding-left: 2vw;
}

#maskintro h2, #maskintro h4 {
    display: inline;
}



/* ---------------------- MEDIA QUERIES AHHHHH ---------------------- */


/* ---------------------- Phone ---------------------- */
@media screen and (min-width: 0) and (max-width:500px){
/* -- main things -- */
    /*-- 
    h2 {font-size: 3.733vw;}
    h3, p, nav h3, nav p, h4 {font-size: 2.933vw; line-height: 3.467vw;} --*/
    
    h2, h4 {font-size: 4.4vw; line-height: 5.7vw;}
    h3, p, nav h3, nav p{font-size: 3.1vw; line-height: 4.2vw;} 
    h5 {font-size: 6vw;        
    }
    .assets {
        padding-left: 1rem;
        padding-right: 1rem;
    }
/* -- index -- */
    .index1 h1 {font-size: 2.6vw;}
    .index1 br {display: none;}
    .pr1_img, .pr2_img, .pr3_img, .pr4_img {height: 45vw;}
    .project1, .project2, .project3, .project4 {padding: 3vh 0;}
    .id_txt2{display: block; padding-top: 1.5vw;}
    .id_txt1{display: none;}
    .project4 {margin-bottom: 10vh;}
    
/*-- Footer --*/
    .leftftvn, .rightftvn, .centerftvn {
        height: 15vw;
        margin-bottom: 10vw;
        width: 55vw;
    }
    .centerftvn {
        display: none;
    }
    .prefoot_center {
        display: none;
    }
    .prefoot {
        top: 10.6vw;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 0;
    }
    .index2 h1 {
        font-size: 2.6vw;
    }
    .index2 {
        top: 20vw;}
    .ftemail {
        top: 20vw;
    }
    .ftemail h2{
        padding: 1vw;    
    }


/*-- INFO --*/
    .infovenn {
        width: 100vw;
        overflow-x: hidden;
        margin: auto 0;
    }
    .infovenn1, .infovenn2 {
        padding: 20vw 0;
        width: 50vw;
        margin-top: 20vw;
        height:10vw;
    }
    .infovenn p, .infovenn h3 {
        width: 40vw;
        margin: auto;
    }
    .infoassets {
        padding-top: 80vw;
    }
    #ibrac {
    font-size: 7vw;
    }
    #info2 div {
        margin-top: 5vw;
    }

/* -- Play  -- */
.plstf {
    margin-top: 20vw;
}    
/* -- Case studies -- */
    .blb {
        padding: 5vw 0 10vw 0;
    }
    .blb p, .blb h2 {
        padding-bottom: 4vw;
    }
    .assets div {
        padding: 0.25rem;
    }
    .assets p{
        padding-right: 2.5vw;
    }
/*-- SABF --*/
    .SABF_head,.DSH_head,.ASHLAR_head {
        margin-top: 22vw; padding: 0;
}
/*-- DSH --*/
    .deski {display: none;}
    .mobi {display: inherit;
    margin-bottom: 2vw;}
    #dshvid {
        margin-top: 5vw;
    }
    #dshflow {
        display: none;}
    #dshflowsm {
        display: block;
        margin-bottom: 4vw;
    }
    #dshp {
        margin-top: 2vw;
    }
/*-- ASHLAR --*/
    .ashlarlink,.dshlink {
        width: 45vw;
        padding-top: 3.5vw;
    }
/*-- MASK --*/
    .maskintrosm {
        background-image: url(../images/MASK/cut1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vw;
        display: inherit;
        margin-bottom: 2vh;
    }
    .maskintrolg {
        display: none;
    }
    #maskintro h2 {
    margin-top: 0;
    }
    
    
    
    
/* ---------------------- Small Tablet ----------------------*/ 
@media screen and (min-width: 501px) and (max-width:767px){
    .index1 h1 {font-size: 2.9vw;}
/*-- Footer --*/
    .leftftvn, .rightftvn {
        width: 53vw;
    }
    .centerftvn {
        display: none;
    }
    .prefoot_center {
        display: none;
    }
    
    
    .dshpng {display: none;}
}

/* ---------------------- Large Tablet ---------------------- */
@media screen and (min-width: 768px) and (max-width:1366px){
    /* -- main things -- */
    /* -- index -- */
    .pr1_img, .pr2_img, .pr3_img, .pr4_img {height: 35vw;}
    .index1 h1 {font-size: 1.45vw;}
    .project1, .project2, .project3, .project4 {padding: 3vh 0;}
    .project4 {margin-bottom: 15vh;}
    
    
    .dshpng {display: none;}

}
/* ---------------------- Big Chungus  ---------------------- */
@media screen and (min-width: 1500px) and (max-width:4000px){
    /* -- SABF -- */
    .sabf_print_tix,.sabf_web_tix {
    background-color: black;
    height: 29vw;
    }
    .assets {
        
    }
}
    
    